fieldset {
  height: 65;
  padding: 5px;
  border-radius: 3px;
  text-overflow: ellipsis;
  display: inline-block;
}

.field-label {
  font-size: 12px;
  font-weight: 400px;
  letter-spacing: 0.11px;
}

.select {
  display: inline-block;
}

#checkboxes {
  height: 23px;
  padding: 10px 12px;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  top: 30px;
  left: -10px;
  position: relative;
  background-color: gray;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120%;
}

li {
  padding: 8px 12px;
}

li:hover {
  background-color: rgba(25, 118, 210, 0.08);
  cursor: pointer;
}


li.selected {
  background-color: rgba(25, 118, 210, 0.08);
}


label {
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

input[type="text"] {
  border: none;
  background: transparent;
  font-size: 16px;
  left: 10px;
  position: relative;
  line-height: 150%;
}

input[type="text"]:focus {
  outline: none;
}
